html {
  max-width: 1024px;
  margin: auto;
}

body {
  font-family: system-ui;
  counter-reset: sections;
}

section {
  counter-increment: sections;
  margin: 2em 0 1em 0;
}

section h2:before {
  content: counter(sections) ".\a0";
}
