body {
  color: white;
  font-family: Verdana, sans-serif;
  font-size: 16px;
	background-color: #011327;
  margin: 0;
}

body > header, body > footer {
	background-color: #07305C;
}

main {
	background-color: #1D4F82;
  padding-bottom: 16px;
}

section {
  margin: 0;
}

footer {
  padding-top: 8px;
  padding-bottom: 8px;
}

h1, h2 {
  font-weight: normal;
  margin: 0;
}

h1, main, footer {
  padding-left: 24px;
  padding-right: 24px;
}

h1 {
  padding-top: 24px;
  padding-bottom: 24px;
}

h2 {
  padding-top: 16px;
  padding-bottom: 16px;
}

p {
  margin: 8px 0;
}

#options > li {
  font-weight: bold;
}

form, fieldset {
  margin: 8px 0;
}

legend {
  font-weight: bold;
}

button, input, select, textarea {
  margin-top: 4px;
  margin-bottom: 4px;
}

button .icon {
  opacity: unset;
  font-weight: normal;
  font-size: 1.2em;
}

textarea {
  min-height: 8em;
  padding: 8px;
  border-radius: 8px;
  border-style: solid;
}

textarea[readonly] {
	color: black;
	background-color: lightgray;
}

.placeholder {
  border-width: thin;
  border-style: dashed;
  border-radius: 12px;
  padding: 32px;
  margin: 12px 0;
  text-align: center;
}

button {
  width: 100%;
  padding: 8px;
  border-radius: 8px;
  border-style: solid;
  border-width: 4px;
  cursor: pointer;

  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: transparent;
  color: #F19567;
  border-color: #F19567;
  transition: border-color 0.25s, color 0.25s, box-shadow 0.1s;
}

button:hover {
  color: #F1D167;
  border-color: #F1D167;
}

button:active {
  box-shadow: 0 0 4px;
}

input:checked + label {
  color: #F19567;
  transition: color 0.25s;
}
