body {
  margin: 0;
}

h1, h2 {
  font-weight: normal;
  margin: 0;
}

h1, main, footer {
  padding-left: 24px;
  padding-right: 24px;
}

h1 {
  padding-top: 24px;
  padding-bottom: 24px;
}

h2 {
  padding-top: 16px;
  padding-bottom: 16px;
}

main {
  padding-bottom: 16px;
}

section {
  counter-increment: sections;
  border: unset;
  margin: unset;
  padding: unset;
}

section header {
  margin: unset;
}

section h2 {
  display: unset;
  padding: unset;
  background: unset;
}

p {
  margin: 8px 0;
}

footer {
  padding-top: 8px;
  padding-bottom: 8px;
}
